extends layout

block content
  header
    #logo Shipr.
  img#cat(src='/images/moar_data.jpg', heigth='400', width='400')
  p
    | Please provide us with more information.
  #extended-button
    button#login(type='button') Extend Permissions