extends layout

block content
  header
    #logo Shipr.
  p
    | Welcome to #{title}. A fun Facebook app that suggests interesting
    | relationships between your Facebook friends. To get started
    | connect with Facebook below.
  #basic-button
    button#login(type='button') Connect With Facebook